<!DOCTYPE html>
<html>
<head>
  <title>WhurlEngine</title>
  <%= stylesheet_link_tag    "whurl_engine/application" %>
  <%= javascript_include_tag "whurl_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
