$(".new_whurl_engine_header_definition").dialog('close');

- content = escape_javascript(render(@header_definition))
$('.header_definition').append("#{content}");
$("#header_definition_#{@header_definition.id}").effect("highlight", {}, 3000);