- content = escape_javascript(render(:partial => 'form', :locals => {:header_definition => @header_definition}))
$('.content').append("#{content}");
$('.edit_whurl_engine_header_definition').dialog('open');