$(".edit_whurl_engine_header_definition").dialog('close');

- content = escape_javascript(render(@header_definition));
$targetRow = $("#header_definition_#{@header_definition.id}");
$targetRow.replaceWith("#{content}");
$("#header_definition_#{@header_definition.id}").effect("highlight", {}, 3000);