/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
*/
$primary: #1c94c4;
$secondary: #eb8f00;
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2, h3 {
    font-weight: 300;
}

h3.ui-accordion-header {
    font-size:12px;
}

pre {
    margin: 0;
}

table {
    width: 100%;
    border-top: 1px solid #EEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;

    th, td{
        text-align: left;
        border-bottom: 1px solid #EEE;
    }
}

a {
  color: $primary;
  &:hover {
    color: lighten($primary, 10%);
  }
  &:active {
    color: $secondary;
  }
}

input[type=text] {
  border-radius: 5px;
  line-height: 20px;
  font-size: 14px;
}

textarea {
  border-radius: 5px;
  border-color: #999;
  width: 100%;
}

select {
  line-height: 18px;
  font-size: 18px;
}

.container {
    width: 950px;
    margin: 0;
    overflow: auto;
    background-color: white;
}

.accordion .container {
    width: auto;
}

.content {
    width: 950px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    margin: 0 4px;
}

.ui-button-icon-only {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.header {
  position: fixed;
  top: 0;
  padding-left: 20px;
  left: 0;
  width:100%;
  text-align: left;
  background-color: #CCC;
  z-index: 10;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-right: 20px;
  right: 0;
  width:100%;
  text-align: right;
  background-color: #CCC;
  z-index: 10;
}
