= render :partial => 'for\m'
%h1 REST API Resources
= button_tag('Add Category', :onclick => "$('#new_whurl_engine_category').dialog('open');", :class => 'popup')
.categories
- @categories.each do |category|
  = render(category)