.line_numbers pre, .code pre, .code span {
    font-family: "fixed-width", monospace;
}

table.CodeRay {
    border-collapse: collapse;
}

td.line_numbers {
    background-color: #DDD;
    text-align: right;
    padding: 0 5px;
}