.line_numbers pre, .code pre, .code span {
    font-family: monospace;
    font-size: 10px;
}

table.CodeRay {
    border-collapse: collapse;
}

td.line_numbers {
    background-color: #DDD;
    text-align: right;
    padding: 0 5px;
}