#footer {
    text-align: right;
    font-size: small;
    margin-top: 20px;
}

#headers, #params {
    margin-left: 162px;
    margin-bottom: 10px;
}

.header_pair, .param_pair {
    padding: 4px 0;
}

.key {
    width: 200px;
}

.value {
    width: 400px;
}

.long {
    width: 525px;
}

html, div, span, a, p, img, h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 0 solid #000;
}

a {
    text-decoration: none;
    color: #2b2f38;
    font-weight: bold;
}

a:hover {
    color: #3d4379
}

input.one {
    width: 480px;
}

input.two {
    width: 225px;
}

input.three {
    width: 350px;
    margin-left: 10px;
}

input.four {
    width: 350px;
}

body {
    background-color: #B2B5BE;
	background-image:url('/images/bg_new.png');
	background-position: top center;
	background-repeat:no-repeat;
}

.containerTop {
    width: 980px;
    height: 55px;
    background: url('/images/container_top.png') no-repeat 0 0;
}

.logo {
    float: left;
    margin: -15px 0 0 0;
}

.tagline {
    float: right;
    color: #fff;
    font-size: 18px;
    width: 350px;
    margin: -30px 292px 0 0;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
    margin-top: 25px;
}

#container {
    width: 100%;
    background: url('/images/container_bg.png') repeat-y 0 0;
    padding-top: 105px;
}

.top {
    height: 100%;
    background: #919c9d;
    margin: 30px 0 0 ;
    padding: 20px;
}

.content {
    padding: 0 15px 0 50px;
}

/*titles*/
.row {
    clear: both;
    margin: 0;
    padding-bottom: 20px;
}

.hTitle {
    font-size: 24px;
    color: #F1CB31;
    text-align: right;
}

.section_title {
    width: 150px;
    margin: 0 10px 0 0;
    float: left;
    text-align: right;
}

.response_section_title {
    color:#F1CB31;
    font-size:24px;
}

.response_section {
    margin-top: 20px;
}

.action_button {
    vertical-align: middle;
}

.titleRESPONSE {
    width: 150px;
    float: left;
}

.delete_button {
    vertical-align:middle;
}

a.delete:hover {
    background: url('/images/delete.png') no-repeat -20px 0px;
}

.paramButton {
    width: 154px;
    height: 32px;
    background: url('/images/param_button.png') no-repeat 0 0;
}

.paramButton a {
    float: left;
    margin: 8px 0px 0px 20px;
}

.headerButton {
    width: 129px;
    height: 31px;
    background: url('/images/header_button.png') no-repeat 0 0;
    font-family: Verdana, Geneva, Kalimati, sans-serif;
    margin: 5px 0 0 25px;
}

.headerButton a {
    float: left;
    margin: 8px 0px 0px 20px;
}

.submit {
    float: right;
    margin: -20px 60px 0px 0px;
    color: #2B2F38;
    background-color:#F1CB31;
    font-weight: bold;
    font-size: 16px;
}

.submit:hover {
    background-position: -91.5px 0px;
}

a.copy_link {
    width: 115.5px;
    height: 44px;
    background: url('/images/copyURL.png') no-repeat 0px 0px;
    margin: 30px 0 0 45px;
    display: block;
}

a.copy_link:hover {
    background-position: -116px 0;
}

.footer {
    background-color: #e1d08a;
    width: 942px;
    height: 48px;
    margin: 25px 0 0 36px;
    padding: 15px 0 0 0;
    color: #2b2f38;
    font-size: 15px;
    line-height: 1em;
}

.response_container {
    background-color: white;
    overflow-x: scroll;
}

#response_header {
    padding: 0 20px;
    background-color: white;
    overflow-x: auto;
}

.footer p {
    float: right;
    text-align: right;
    margin: 0 20px 0 0;
}

a.contact {
    font-weight: bold;
}

.meadowfete {
    font-size: 12px;
    color: #8a7210;
}

#permalink_container {
    color: #2B2F38;
    position: fixed;
    bottom: 5px;
    left: 0;
    padding: 5px 15px 5px 10px;
    background-color: #E0CF89;
    border: 2px solid #2B2F38;
    border-left: none;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}