$(".whurl_engine_chapter").dialog('close');

- content = escape_javascript(render(@chapter))
$('#story_#{@chapter.story_id} .chapters').append("#{content}");
$("#chapter_#{@chapter.id}").effect("highlight", {}, 3000);