- content = escape_javascript(render(:partial => 'form', :locals => {:parameter_definition => @parameter_definition}))
$('.content').append("#{content}");
$('.edit_whurl_engine_parameter_definition').dialog('open');