$(".whurl_engine_resource").dialog('close');

- content = escape_javascript(render(@resource))
$('#category_#{@resource.category_id} .resources').append("#{content}");
$("#resource_#{@resource.id}").effect("highlight", {}, 3000);