.whurl
  .accordion
    %h3
      %a{:href => "#console"} Console
    .container
      = render(:partial => 'whurl_engine/whurls/form', :locals => {:whurl => whurl})

    %h3
      %a{:href => "#raw"} Raw Request
    .container
      %code= simple_format(whurl.raw_request)

  = render(:partial => 'whurl_engine/whurls/response', :locals => {:whurl => whurl})