/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
*/
body {
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 300;
}

table {
    width: 100%;
    border-top: 1px solid #EEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;

    caption {
        text-align: left;
        font-size: 20px;
        .button {
            font-size: 10px;
        }
    }
    th, td{
        text-align: left;
        border-bottom: 1px solid #EEE;
    }
}