/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
*/
$primary: #1c94c4;
$secondary: #eb8f00;
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    background-color: white;
}

h1, h2, h3 {
    font-weight: 300;
}

pre {
    margin: 0;
}

table {
    width: 100%;
    border-top: 1px solid #EEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;

    th, td{
        text-align: left;
        border-bottom: 1px solid #EEE;
    }
}

a {
  color: $primary;
  &:hover {
    color: lighten($primary, 10%);
  }
  &:active {
    color: $secondary;
  }
}

input[type=text] {
  border-radius: 5px;
  line-height: 20px;
  font-size: 14px;
}

textarea {
  border-radius: 5px;
  border-color: #999;
  width: 100%;
}

select {
  line-height: 18px;
  font-size: 18px;
}

.container {
    width: 950px;
    margin: 0;
    overflow: auto;
    background-color: white;
}

.content {
    width: 950px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    margin: 0 4px;
}

.ui-button-icon-only {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

