$dark: #2B2F38;
$highlight: #F1CB31;

@mixin rounded-corners($topleft, $topright: $topleft, $bottomright: $topleft, $bottomleft: $topleft) {
  border-radius: $topleft $topright $bottomright $bottomleft;
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin rotate($degrees) {
    transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -webkit-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
}

.whurls.show {
    .menu {
        position: fixed;
        bottom: 20px;
        left: 0;
        border: 1px solid #666;
        border-left: none;
        background-color: #f6a828;
        border-radius: 0 20px 20px 0;
        width: auto;
        font-size: 16px;
        padding: 5px;
    }
}

.whurl {
    td.line_numbers pre, td.code pre, td.code span {
        font-family: monospace;
    }

    table.CodeRay {
        border-collapse: collapse;
    }

    td.line_numbers {
        background-color: #DDD;
        text-align: right;
        padding: 0 5px;
    }
}

.whurl_form {
    #headers, #params, #url, #post_body, #button_row {
      margin-left: 162px;
      min-height: 31px;
      margin-bottom: 10px;
    }

    .header_pair, .param_pair {
      padding: 4px 0;
    }

    .key {
      width: 200px;
    }

    .value {
      width: 400px;
    }

    .long {
      width: 525px;
    }

    #whurl_request_url {
      width: 514px;
    }

    input.one {
      width: 480px;
    }

    input.two {
      width: 225px;
    }

    input.three {
      width: 350px;
      margin-left: 10px;
    }

    input.four {
      width: 350px;
    }

    textarea#whurl_request_body {
      width: 610px;
      height: 55px;
      margin-bottom: 10px;
    }

    textarea#whurl_description {
      width: 610px;
      height: 55px;
      margin-bottom: 10px;
    }

    .textarea_disabled {
      background-color: lightgray;
    }

    .section_title {
    padding: 4px 0;
    float: left;
    text-align: right;
    width: 155px;
    line-height: 26px;
    }

    .action_button {
      vertical-align: middle;
    }

    .delete_button {
      vertical-align:middle;
    }

    a.delete:hover {
      background: url("delete.png") no-repeat -20px 0;
    }

    .paramButton {
      width: 154px;
      height: 32px;
      background: url('param_button.png') no-repeat 0 0;
    }

    .paramButton a {
      float: left;
      margin: 8px 0 0 20px;
    }

    .headerButton {
      width: 129px;
      height: 31px;
      background: url('header_button.png') no-repeat 0 0;
      font-family: Verdana, Geneva, Kalimati, sans-serif;
      margin: 5px 0 0 25px;
    }

    .headerButton a {
      float: left;
      margin: 8px 0 0 20px;
    }

    a.copy_link {
      width: 115.5px;
      height: 44px;
      background: url('copyURL.png') no-repeat 0 0;
      margin: 30px 0 0 45px;
      display: block;
    }

    a.copy_link:hover {
      background-position: -116px 0;
    }

    .param_pair:first-child,
    .header_pair:first-child
    {
      display: none;
    }
}