<%= javascript_include_tag('jquery-1.4.4.min.js') %>
<%= javascript_include_tag('application') %>

<div style="color:red; background-color: white; font-weight: bold; padding: 15px">
  <h2>
    This site, https://whurl.heroku.com, is being taken down.
  </h2>

  <p>
    While you can't create any new Whurls here,
    you can access your old Whurls through January 1st.
  </p>

  <p>
    What you really need to do is install Whurl yourself, either on <a href="http://heroku.com/">heroku</a>,
    or on your own servers (which is handy if you want ot point Whurl at a
    service not yet available to the public as is normal for API development). <a href="https://github.com/tildewill/whurl_pub">Whurl is up on Github</a> and pull requests
    are very welcome. Thanks for using Whurl!
  </p>
</div>
