<%= render :partial => 'whurl/commands/whurl_form' %>
<%= stylesheet_link_tag("code") %>
<div class="response_section">
  <div class="response_section_title">Response Headers</div>
  <div id="response_header">
    <%= @response_headers %>
  </div>
</div>
<div class="response_section">
  <div class="response_section_title">Response Body</div>
  <div class="response_container">
    <%= @api_response %>
  </div>
</div>

<div id="permalink_container">
  Share this Whurl: <input type="text" id="permalink_text_box" value="" onFocus="this.select()" />
</div>