<%= render :partial => 'whurl/commands/whurl_form' %>
<div>
  <div class="titleRESPONSE">
    <div class="hTitle">Response</div><br/>
    <a class="copy_link" id="permalink">&nbsp;</a>
  </div>
  <div id="api_response">
    <%= @api_response %>
  </div>

</div>
