-#http://www.ajaxload.info/
-#http://www.jqueryin.com/projects/spinner-jquery-preloader-plugin/#demos
= render(:partial => 'whurl_engine/responses/response', :locals => {:response => @request.response})
= render(:partial => 'whurl_engine/requests/form', :locals => {:whurl_request => @request})