-#http://www.ajaxload.info/
-#http://www.jqueryin.com/projects/spinner-jquery-preloader-plugin/#demos
.accordion
  %h3
    %a{:href => "#console"} Console
  .container
    = render(:partial => 'whurl_engine/requests/form', :locals => {:whurl_request => @request})

  %h3
    %a{:href => "#raw"} Raw Request
  .container
    %code= simple_format(@request.response.request.to_s)

  %h3
    %a{:href => "#curl"} cURL Request
  .container
    %pre= @request.to_curl

= render(:partial => 'whurl_engine/responses/response', :locals => {:response => @request.response})
