<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon-precomposed" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="initial-scale = 1.0"/>
  <link rel="apple-touch-startup-image" href="/images/splash.png" />
  <%= stylesheet_link_tag('iphone', :cache => true) %>
  <%= stylesheet_link_tag('code', :cache => true) %>

  <title>Whurl</title>
</head>

<body>


<div class="content">
  <div>
    <img class="logo" src="/images/logo.png" width="521" height="147"/>
  </div>
  <%= yield %>
</div>
<!--end content-->

<div class="footer">
  <p>Created by Will Read. <a class="contact" href="mailto:will.read@gmail.com">Contact</a>
    him.<br/><span class="meadowfete">Designed by <a class="meadowfete" href="http://meadowfete.com" target="_blank">Meadowfete</a>.</span>

  </p>
</div>

</body>
</html>